<%= provide(:title, 'Diabetes') %>

<body>
    <div class="row-fluid col-lg-8 col-lg-offset-2 " >
        <div class="page-header text-center">
         <h1> Diabetes and You</h1>
          </div>
         <h3>What is Diabetes?</h3>
         <p> Quite simply, Diabetes occurs when a person has a high blood sugar due to a person's
         pancreas not creating enough insulin, or from a person's cells not responding properly to insulin produced
         in the body.</p>
          <h3> Symptoms</h3>
          <p> There are several other symptoms to look out for, but these are the ones that are primarily
          the ones to look out for.  </p>
          <ul>
            <li> Constant urination</li>
            <li>Blurry vision</li>
            <li> Numbness in the hands and/or feet</li>
            <li> Inability to heal quickly</li>
            <li>n Extreme thirst</li>
            <li> Extreme fatigue</li>
          </ul>
          <h3>Forms of Diabetes</h3>
          <ul class="nav nav-tabs">
            <li class="active"><a href="#t1" data-toggle="tab" >Type 1</a></li>
            <li><a href="#t2" data-toggle="tab">Type 2</a></li>
          </ul>
          <section class="tab-content text-center">
            <article class="tab-pane active fade in" id="t1">
             <h3>Type 1 Diabetes</h3>
              <br>

              <p>Type 1 diabetes is generally diagnosed in children and young adults.
              It occurs when a person's pancreas can no longer produce any insulin. Only 5 percent of
              people who are diagnosed with the disease diabetes have type 1.  Type 1 was generally referred
              to as juvenile diabetes.</p>
            </article>
            <article class="tab-pane fade in"  id="t2">
              <h3>Type 2 Diabetes</h3>
              <br>
              <p> If you are diagnosed with type 2 diabetes, your body is not correctly using
              the insulin produced by your body.  This is referred to as insulin resistance.
              Over time, however, your body can not keep up with the insulin needed to maintain
              a healthy lifestyle.</p>
              <p>Type 2 diabetes is the most common form of diabetes</p>
            </article>
          </section>
           <article >
            <h3> What is Hemoglobin A1c?</h3>
            <p>When a doctor wants to test your Hemoglobin A1C, what he really wants to look at is your
            red blood cells.  Sugar sticks to proteins in our body.  Red blood cells have an average
            life span of three months and so the test allows the doctor to see how much sugar  has
            stuck to the red blood cells over a period of time.  It is a better way of looking at
            a person's control of their diabetes over a range of time.</p>
           </article>
            <hr>
            <h3>A1c Ranges</h3>
           <table class="table text-center table-striped table-bordered table-hover" >
             <tr>
               <th class="text-center">A1c(%)</th>
               <th class="text-center">Expected average of blood sugar</th>
             </tr>
             <tr class = "warning ">
               <td>5</td>
               <td>97</td>
             </tr>
             <tr class="success active">
               <td>6</td>
               <td> 135</td>
             </tr>
             <tr class="warning">
               <td>7</td>
               <td>170</td>
             </tr>
             <tr class="success ">
               <td> 8</td>
               <td>205</td>
             </tr>
             <tr class="warning">
               <td>9</td>
               <td>240</td>
             </tr>
             <tr class="success">
               <td>10</td>
               <td>275</td>
             </tr>
             <tr class="warning">
               <td>11</td>
               <td>310</td>
             </tr>
             <tr class="success">
               <td>12</td>
               <td>345</td>
             </tr>
           </table>
    </div>     <!--   #this marks the end of the content -->
</body>


