<% provide(:title, 'Exercise') %>
<body>
  <div class="row">
    <div class="row col-lg-8 col-lg-offset-2">
      <div class="thumbnail">
        <h1>how and why is this happening to me?</h1>
      </div>
      <div class="thumbnail">
        <h1>who are you?</h1>
      </div>
    </div>
  </div>
</body>