<% provide(:title, 'Home') %>
<body xmlns="http://www.w3.org/1999/html">
        <div class="row-fluid ">
          <div class="col-lg-8 col-lg-offset-2   text-center">
            <h1> Welcome to Diabetic Health & Lifestyle</h1>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2 text-center">
            <h2>Purpose</h2>
          </div>
        </div>
        <div class="row">
          <article class="col-lg-8 col-lg-offset-2 text-center">
              <p> The main purpose of this website to provide people with diabetes a variety of resources that they
                  can utilize to ensure a higher quality of life.  There are already several great websites, blogs, and
                  so forth dedicated to helping those inflicted with the disease of diabetes, but most are piecemeal.  The goal
                  of the website, is to provide the viewer with up-to-date articles regarding the whole spectrum of diabetes,
                  ranging from maximizing fitness for better management of diabetes to recipes that incorporate new food
                  substitution techniques to lower caloric intake.</p>
              <hr/>
              <br>
          </article>
        </div>
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2 text-center">
            <h1>About</h1>
            <p> The developer of the website was diagnosed with Type 1 Diabetes at the age of 14.
            From all of the years of researching and through the process of trial and errror,
            has become a terrific source of knowledge with several facets of diabetes.  He feels
            that there should be a simple, easy website that highlights various factors of diabetes and how
            one can improve their lives. </p>
          </div>
        </div>
</body>