<%= provide(:title, 'Publications') %>
<body>
  <div class="row col-lg-8 col-lg-offset-2">
    <div class = "page-header text-center">
        <h1> A Short List of Terrific Works</h1>
    </div>
  </div>   <!--this is the end of the container-->

   <div class="row col-lg-8 col-lg-offset-2">
    <div class="thumbnail">
      <div class="row">
      <div class = " col-lg-4 col-lg-offset-2 ">
        <h4>American Diabetes Association</h4>
        <p>A terrific website for all things diabetes.</p>
      </div>
      <div class="col-lg-4">
        <a href="http://www.diabetes.org">
        <img src="/assets/americandiabetes.tiff"> </a>
      </div>
      </div>
    </div>
   </div>


   <div class=" row col-lg-9 col-lg-offset-3">
     <div class="page-header">
       <h1>where is this all going? aaaaaaaaaaaaaaaaaaaaaaaaaa</h1>
     </div>
     <div class="thumbnail">
         <div class = " col-lg-4  ">
           <h4>Why won't you fucking work?</h4>
         </div>
         <div class="col-lg-4">
           <p>What are you?</p>
       </div>
     </div>
   </div>
</body>